# 测试一下jd都能干啥

## 准备

In [9]:
import logging
from jqdatasdk import *
import yaml

logging.basicConfig(format='%(levelname)s : %(message)s',
                    level=logging.DEBUG,
                    handlers=[logging.StreamHandler()])
logger = logging.getLogger(__name__)

f = open("../conf/config.yml", 'r', encoding='utf-8')
result = f.read()
conf = yaml.load(result, Loader=yaml.FullLoader)
uid = str(conf['jqdata']['uid'])
pwd = conf['jqdata']['pwd']  # 账号是申请时所填写的手机号；密码为聚宽官网登录密码，新申请用户默认为手机号后6位
auth(uid, pwd)
logger.info("登录到jqdata成功")

INFO : 登录到jqdata成功

## 查询

In [12]:
from jqdatasdk import finance
from jqdatasdk import query

# 121005,国投瑞银创新动力,孙文龙,国投瑞银
main_code='121005'
n = 10

finance.run_query(query(finance.FUND_MAIN_INFO).filter(finance.FUND_MAIN_INFO.main_code==main_code).limit(n))
finance.run_query(query(finance.FUND_MAIN_INFO).filter(finance.FUND_MAIN_INFO.main_code==main_code).limit(n))

DEBUG : Starting new HTTPS connection (1): dataapi.joinquant.com
DEBUG : https://dataapi.joinquant.com:443 "POST /apis HTTP/1.1" 200 62

,id,main_code,statistics_main_code,name,advisor,trustee,operate_mode_id,operate_mode,underlying_asset_type_id,underlying_asset_type,invest_style_id,invest_style,start_date,end_date
0,3510,121005,None,国投瑞银创新动力混合,国投瑞银基金管理有限公司,中国光大银行股份有限公司,401001,开放式基金,402004,混合型,005005,偏股混合型,2006-11-15,None